/* Importação da fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Variáveis de cores */
:root {
  --blue: #5dafd2;
  --dark-blue: #384495;
  --white: #f8f9fb;
}

/* Classes para validação visual de formulário */
.isValid {
  color: green;
}

.isInvalid {
  border-color: red;
}

/* Globais */
body {
  max-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(
    270deg,
    rgba(64, 167, 230, 1) 0%,
    rgba(56, 68, 149, 1) 100%
  );
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  color: var(--white);
}

h1::after {
  content: "";
  width: 100px;
  height: 5px;
  display: block;
  margin: auto;
  background-color: var(--blue);
}

main {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
  border: 0;
}

button:hover {
  background-color: #86c2db;
}

.text-error {
  font-size: 12px;
  color: red;
}

/* Formulário */
form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset,
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 80px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
  background-color: rgba(252, 252, 252, 0.979);
}

.input-label {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 30px;
}

input {
  color: black;
  font-size: 18px;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid rgb(134, 134, 134);
  background-color: rgba(252, 252, 252, 0.979);
  outline: none;
}

.input-label label {
  font-weight: 500;
  color: black;
}

input:focus {
  outline: none;
  border-bottom: 3px solid var(--dark-blue);
}

input::placeholder {
  font-size: 14px;
}

/* Resultados */
.content {
  color: black;
  font-size: 18px;
}

.content span {
  color: var(--dark-blue);
  font-weight: bold;
}

.question {
  margin-bottom: 20px;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.loader {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: var(--blue);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
